extends layout

block content
	div
		form.post
			input.postinput(type="text", placeholder="Add your ideas here...")
			img.uploadTake(src="/img/uploadpicIcon.png", width="25px")
			input.submit(type="submit", value="Post")
		table.ideaTable
			tr
				td
				td
				td
				td
				for publicPost in posts	
					tr
						td
						td(data-postid2=publicPost.username)
							img.upvote(src='/img/thumbsup.png', data-postid=publicPost._id)
						td(rowspan:3).ideaBody
							h3= publicPost.contents
							h6= publicPost.username
							h6= publicPost.date
						td(rowspan:3)
					tr
						td(data-postid2=publicPost.username)
							img.favorite(src='/img/favoriteIcon.png', data-postid=publicPost._id, data-cont=publicPost.contents, width='35px', height='35px')
						td
							h3.rating= publicPost.rating
					tr
						td
						td(data-postid2=publicPost.username)
							img.downvote(src='/img/thumbsdown.png', data-postid=publicPost._id)