extends layout

block content
	div
		form.post
			input.postinput(type="text", placeholder="Add your ideas here...")
			img.uploadTake(src="/img/uploadpicIcon.png", width="25px")
			input.submit(type="submit", value="Post")
		table.ideaTable
			tr
				td
				td
				td
				td
				for post in posts	
					tr
						td
						td(data-postid2=post.username)
							img.upvote(src='/img/thumbsup.png', data-postid=post._id)
						td(rowspan:3).ideaBody
							h3= post.contents
							h6= post.username
							h6= post.date
						td(rowspan:3)
					tr
						td
						td
							h3.rating= post.rating
					tr
						td
						td
							img.downvote(src='/img/thumbsdown.png', data-postid=post._id)