extends layout


block content
	div
		h1 Welcome, #{user.username}
		div
			form#addPost(action="/ideaPosted", method="post", placeholder='Add your ideas here...')
				input#postinput.form-control(type="text", placeholder="Add your ideas here...")
				//- input#ideaPosted.postinput(type="text", placeholder='Add your ideas here...')
				//- a(href="#", type='file', name='pic', accept="image/*", id="upload")
				<div style="height:0px;overflow:hidden">
				<input type="file" id="fileInput" name="fileInput" />
				</div>
				img.uploadTake(src="/img/uploadpicIcon.png", onclick="chooseFile()", width="25px")
				input#submit1(type="submit", value="Post")
			div.privacy(class="onoffswitch", id='privacytog')
				input(type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked)
				label(class="onoffswitch-label" for="myonoffswitch")
					span(class="onoffswitch-inner")
					span(class="onoffswitch-switch")
		div
			table.ideaTable
				tr
					td
					td
					td
					td
				for post in posts		
					tr
						td
						td(data-postid2=post.username)
							img.upvote(src='/img/thumbsup.png', data-postid=post._id)
						td(rowspan:3).ideaBody
							h3= post.contents
							h6= post.date
							h6= post.username
						td(rowspan:3)
							a.delete(href="#", data-postid=post._id) Remove
					tr
						td(data-postid2=post.username)
							img.favorite(src='/img/favoriteIcon.png', data-postid=post._id, data-cont=post.contents, width='35px', height='35px')
						td
							h3.rating= post.rating
					tr
						td
						td(data-postid2=post.username)
							img.downvote(src='/img/thumbsdown.png', data-postid=post._id)



	//- form
	//- 	input(type='file')

	//- form(action="demo_form.asp")
	//- 	input(type="file" name="pic" accept="image/*")
	//- 	input(type="submit")

	
	
