extends layout


block content
	div
		h1 Welcome, #{user.username}
		div
			form#addPost.post(action="/ideaPosted", method="post")
				input#ideaPosted.postinput(type="text", placeholder='Add your ideas here...')
				img.uploadTake(src="/img/uploadpicIcon.png", width="25px")
				input#submit1(type="submit", value="Post")
			div.privacy(class="onoffswitch", id='privacytog')
				input(type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked)
				label(class="onoffswitch-label" for="myonoffswitch")
					span(class="onoffswitch-inner")
					span(class="onoffswitch-switch")
			//- form(action="/ideaPosted", method="post")
			//- 	input(type='file', name='pic', accept="image/*", id="upload")
			//- 	input(type='submit')
		div
			table.ideaTable
				tr
					td
					td
					td
					td
				for post in posts		
					tr
						td
						td(data-postid2=post.username)
							img.upvote(src='/img/thumbsup.png', data-postid=post._id)
						td(rowspan:3).ideaBody
							h3= post.contents
							h6= post.date
						td(rowspan:3)
							a.delete(href="#", data-postid=post._id) Remove
					tr
						td
						td
							h3.rating= post.rating
					tr
						td
						td
							img.downvote(src='/img/thumbsdown.png', data-postid=post._id)


	//- form(action="demo_form.asp")
	//- 	input(type="file" name="pic" accept="image/*")
	//- 	input(type="submit")

	
	
