extends layout


block content
	div
		h1.headline Welcome, #{user.username}
		img.gravitar(src="#{user.imageUrl}", height="200px", width="200px")
		div
			form#addPost(action="/uploads/upload", method="post", placeholder='Add your ideas here...')
				input#postinput(type="text", name="contents" placeholder="Add your ideas here...")
				div.privacy(class="onoffswitch", id='privacytog')
					input(type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked)
					label(class="onoffswitch-label" for="myonoffswitch")
						span(class="onoffswitch-inner")
						span(class="onoffswitch-switch")
				<div style="height:0px;overflow:hidden">
				<input type="file" id="fileInput"  name="fileInput" accept="image/*">
				</div>
				input#submit1(type="submit", value="Post")
			img.uploadTake(src="/img/uploadpicIcon.png", id="upload", width="25px")
			
		div
			table.ideaTable
				tr
					td
					td
					td
					td
				for post in posts		
					tr.posts
						td(data-postid2=post.username)
							img.favorite(src='/img/favoriteIcon.png', data-postid=post._id, data-cont=post.contents)
						td(data-postid2=post.username)
							img(src="/img/votearrow.jpg" alt="" usemap='#'+post._id)
							map(name=post._id id=post._id)
								area(alt="" title="" shape="poly" coords="3,25,22,0,38,25" class="upvote" data-postid=post._id)
								h3.rating= post.rating
								area(alt="" title="" shape="poly" coords="40,63,21,90,4,63" class="downvote" data-postid=post._id)
						td.ideaBody
							h3= post.contents
							h6= post.date
							h6= post.username
						td
							a.delete(href="#", data-postid=post._id) Remove


								
						


	//- form
	//- 	input(type='file')

	//- form(action="demo_form.asp")
	//- 	input(type="file" name="pic" accept="image/*")
	//- 	input(type="submit")

	
	
