extends layout
block content
	br
	h3 You are surfing #{user.username}s profile
	h5(display: hidden) #{user.username}
	if (isFollowing === -1)
		btn.btn.btn-default#submit2 Follow
	div
		table.ideaTable
			tr
				td
				td
				td
				td
				for post in publicPosts	
					tr
						td
						td
							//- img.moveup(src='/img/thumbsup.png')
						td(rowspan:3).ideaBody
							h3= post.contents
							h6= post.date
						td(rowspan:3)
					tr
						td
						td
							h3= post.ratings
					tr
						td
						td
							//- img.moveup(src='/img/thumbsdown.png')